:root {
  --brand-color: rgba(177, 32, 84, 1);
  --accent-color: rgba(22, 11, 14, 1);
  --light-accent-color: rgba(42, 25, 29, 1);
  --success-color: #22c55e;
  --danger-color: #ef4444;
  --rating-star-color: #fbbf24;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: linear-gradient(180deg, #160b0e 0%, #7c3e4f 100%);
  min-height: 100vh;
  width: 100%;
}
